header {
  background-color: white;
  border-bottom: solid rgb(223, 223, 223) 1px;
  box-shadow: -5px 2px 6px black;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

header img {
  height: 50px;
}

#emailValue{
  padding-right: 40px;
}

header div{
  margin-top: 20px;
}

